
/* The container */
.cbox-container {
  display: inline-flex;
  align-items: center;
  position: relative;
  padding-left: 25px;
  margin: 0 0 12px -10px;
  cursor: pointer;
  font-size: 22px;
  height: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &.disable-list {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &.userpaths {
    margin-top: 15px !important;
  }
}

.cbox-lbl-txt {
  font-size: 12px;
  font-weight: 500;
  margin-left: 5px;
}

/* Hide the browser's default checkbox */
.cbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.cbox-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: $white;
  border: 1px solid $java;
  border-radius: 3px;
  box-shadow: 1px 1px 2px $java;
}

/* On mouse-over, add a grey background color */
.cbox-container:hover input ~ .cbox-checkmark {
  background-color: $polar;
}

/* When the checkbox is checked, add a blue background */
.cbox-container input:checked ~ .cbox-checkmark {
  background-color: $white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.cbox-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.cbox-container input:checked ~ .cbox-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.cbox-container .cbox-checkmark:after {
  left: 1px;
  top: -3px;
  font-weight: 600;
  color: $java;
  content: '\2713';
  font-size: 16px;
  line-height: 22px;
}

.cbox--include-user {
  color: $java;
}
.cbox--wrapper {
  @include flex-box(column, flex-start, stretch);
}