

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Spartan', sans-serif !important;
}

main,
.main {
  display: flex;

}

h1 {
  font-size: 22px !important;
}

h2 {
  font-size: 20px !important;
}

h3 {
  font-size: 18px !important;
}

h4 {
  font-size: 16px !important;
}

h5 {
  font-size: 14px !important;
}

.logo {
  text-align: center;
  h1 {
    font-weight: 600;
    color: $eastern-blue;
  }
  &:hover {
    text-decoration: none !important;
    h1 {
      color: $scooter;
    }
  }
}

.logo--landing {
  height: 160px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  img {
    margin-bottom: 12px;
  }
}
.logo--map {
  position: absolute;
  top: 18px;
  left: 0;
  width: 125px;
  z-index: 3;
  img {
    width: 110px;
  }
}

h2 {
  color: $eastern-blue;
  font-weight: 600 !important;
  margin-bottom: 26px !important;
  &.disable--hdr {
    opacity: 0.5;
    cursor: not-allowed !important;
  }
}

.warning-backdrop {
  background-color: $java !important;
}
.warning-modal {
  margin-top: 10vh !important;
  .modal-title {
    color: $sunglo;
    font-weight: 600;
  }
  .btn {
    padding: 3px 6px;
    border-radius: 0.25rem;
    width: 120px;
    &:nth-child(2) {
      margin-left: 20px;
    }
    &-light {
      border: 1px solid $shark;
      &:hover,
      &:active,
      &:active:focus,
      &:focus {
        border: 1px solid $shark !important;
      }
    }
    span {
      &:nth-child(2) {
        font-size: 14px;
        font-weight: 500;
        margin-left: 10px;
      }
    }
  }
  .modal-header {
    border-bottom: 0;
  }
  .modal-footer {
    border-top: 0;
  }
}

.notification-toast {
  max-width: initial !important;
  &__wrapper {
    top: 0;
    position: absolute !important;
    left: calc(50% - 175px);
    right: calc(50% - 175px);
    z-index: 1002;
    width: auto;
  }
  &.error {
    background-color: $dust-storm;
    .toast-body {
      span {
        color: $buccaneer;
      }
    }
  }
  &.success {
    background-color: $skeptic;
    .toast-body {
      span {
        color: $killarney;
      }
    }
  }
  .toast-body {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
    height: auto;
    position: relative;
    text-align: center;
    width: 100%;
    span {
      line-height: 20px;
      &:first-child {
        font-size: 30px;
        margin-right: 15px;
      }
      &:nth-child(2) {
        font-size: 16px;
        font-weight: 500;
        margin: 10px 0 0 10px;
        text-align: left;
      }
    }
  }
}
.leaflet-bottom.leaflet-left {
  bottom: 142px !important;
  left: 0;
}
.leaflet-draw-draw-polyline,
.leaflet-draw-draw-marker,
.leaflet-draw-edit-edit,
.leaflet-draw-edit-remove {
  display: none !important;
}
.leaflet-draw-actions a,
.leaflet-draw-tooltip {
  background-color: rgba(25,134,154,0.65) !important;
  font-family: 'Spartan', sans-serif !important;
}
.leaflet-draw-tooltip:before {
  border-right-color: rgba(25,134,154,0.65) !important;
}

.leaflet-draw-actions a:hover {
  color: $polar !important;
}

.leaflet-draw-tooltip-subtext {
  color: $prim;
}

.search-control-icon-button svg,
.search-control-active .search-control-close-button > svg {
  margin-top: 3px;
}

#pathSelect {
  font-family: 'Spartan', sans-serif !important;
  padding: 3px;
  cursor: pointer;
  max-width: 200px;
}

.paths__selection {
   width: 300px;
   top: 80px;
   left: 0;
   z-index: 500;
   background-color: $white;
 }


.leaflet-control-container {
  margin-top: 0;
  top: 0;
  display: block;
  left: -32px;
}
